<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.childcareapp.pivak.fyplogin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentHome"
            android:label="@string/title_activity_student_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlumniHome"
            android:label="@string/title_activity_alumni_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FacultyHome"
            android:label="@string/title_activity_faculty_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CompanyHome"
            android:label="@string/title_activity_company_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SearchActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ViewLikedUsers" />
        <activity android:name=".LikedUsersRecyclerView"></activity>
    </application>

</manifest>